{% extends "app.twig" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">

            <div class="jumbotron white box-shadow col-5 center">
                <div class="center pb-md-4 mx-auto">
                    <h1 class="display-4 text-center">Wachtwoord wijzigen</h1>
                </div>
                <form action="{{ root }}/password-reset/put" method="post">
                    <label class="error">{{ errors.email }}</label>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" aria-label="Email" name="email"  aria-describedby="basic-addon1">
                    </div>
                    <label class="error">{{ errors.password }}</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Nieuw wachtwoord"  name="password" aria-describedby="basic-addon1">
                    </div>
                    <label class="error">{{ errors.repeat_password }}</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Herhaal wachtwoord"  name="repeat_password" aria-describedby="basic-addon1">
                    </div>
                    <label class="error">{{ errors.question_id }}</label>
                    <div class="input-group mb-3">
                        <select class="form-control" name="question_id">
                            <option>Vraag...</option>
                            {% for question in questions %}
                                <option value="{{ question.getId() }}">{{ question.getText() }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label class="error">{{ errors.secret }}</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Antwoord" name="secret" value="{{ user.getFirstName() }}" aria-describedby="basic-addon1">
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Opslaan</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}